#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
#
#            ------admin network: 192.168.100.0/24 (ssh)----------
#              | .4                                        | .46
#+------------------------------------------+ +-------+ +------------------------------+
#|        Device under test                 | |switch | | Packet generator & receiver  |
#|                                          | |       | |                              |
#|                cxl0: 198.18.0.4/24       |=|   <   |=| ix0: 198.18.0.46/24          |
#|                      2001:2::4/64        | |       | |        2001:2::46/64         |
#|                      (00:07:43:3b:11:30) | |       | |        (90:e2:ba:84:20:38)   |
#|                                          | |       | |                              |
#|                cxl1: 198.19.0.4/24       |=|   >   |=| ix1: 198.19.0.46/24          |
#|                      2001:2:0:8000::4/64 | |       | |        2001:2:0:8000::46/64  |
#|                      (00:07:43:3b:11:38) | +-------+ |        (90:e2:ba:84:20:39)   |
#|                                          |           |                              |
#|            static routes                 |           |                              |
#| 192.18.0.0/16      => 198.18.0.46        |           |                              |
#| 192.19.0.0/16      => 198.19.0.46        |           |                              |
#| 2001:2::/49        => 2001:2::46         |           |                              |
#| 2001:2:0:8000::/49 => 2001:2:0:8000::46  |           |                              |
#|                                          |           |                              |
#|        static arp and ndp                |           |                              |
#| 198.18.0.46       => 90:e2:ba:84:20:38   |           |                              |
#| 2001:2::46                               |           |                              |
#|                                          |           |                              |
#| 198.19.0.46        => 90:e2:ba:84:20:39  |           |                              |
#| 2001:2:0:8000::46                        |           |                              |
#+------------------------------------------+           +------------------------------+

# Admin network IP
SENDER_ADMIN="192.168.100.46"
RECEIVER_ADMIN="192.168.100.46"
DUT_ADMIN="192.168.100.4"
REF_ADMIN=""

# LAB network IP and data
SENDER_LAB_IP="198.18.0.46"
RECEIVER_LAB_IP="198.19.0.46"

#netmap pkt-gen need these information:
SENDER_LAB_IF="ix0"
SENDER_LAB_IF_MAC="90:e2:ba:84:20:38"
RECEIVER_LAB_IF="ix1"
RECEIVER_LAB_IF_MAC="90:e2:ba:84:20:39"
DUT_LAB_IF_MAC_SENDER_SIDE="00:07:43:3b:11:30"
DUT_LAB_IF_MAC_RECEIVER_SIDE="00:07:43:3b:11:38"
#Generate about 2000 flows (20*100)
# source/dest IP and port can be modified
# Number of packet or packet size too
# Used for testing different value of flows as examples
: ${AF:="4"}
: ${SENDER_LAB_NET:="198.18.10.1:2001-198.18.10.71"}
: ${RECEIVER_LAB_NET:="198.19.10.1:2001-198.19.10.70"}
: ${PKT_TO_SEND:="1000000000"}

# Netmap pkt size didn't include CRC (4 Bytes)
# RFC2544 ask to try with:
# 64, 128, 256, 512, 1024, 1280, 1518
# This mean for netmap pktgen:
# 60, 124, 252, 508, 1020, 1276, 1514
# But need to add 2 for inet6
: ${PKT_SIZE:="43"}

# PMC event to collect
: ${PMC_EVENT:="cpu_clk_unhalted.core_p"}

#Timeout: Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=120

#Is DUT online: Test command (fill switch MAC table and ARP cache)
IS_DUT_ONLINE_TARGET=${DUT_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP} && ping -c 2 ${SENDER_LAB_IP}"
#IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP} && ping -c 2 ${SENDER_LAB_IP} && /data/reqroutes 816800"

#Bench commands
RECEIVER_START_CMD="pkt-gen -N -f rx -i ${RECEIVER_LAB_IF} -w 2 -W -c 4 -p 4"
RECEIVER_STOP_CMD="pgrep -q pkt-gen && pkill pkt-gen"
SENDER_START_CMD="pkt-gen -N -f tx -w 2 -i ${SENDER_LAB_IF} -n ${PKT_TO_SEND} \
-${AF} -d ${RECEIVER_LAB_NET} -D ${DUT_LAB_IF_MAC_SENDER_SIDE} -T 2000 \
-s ${SENDER_LAB_NET} -S ${SENDER_LAB_IF_MAC} -l ${PKT_SIZE} -c 4 -p 4"
