#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
#
#+------------------------------------------+ +-------+ +------------------------------+
#|        Device under test                 | |Juniper| | Packet generator & receiver  |
#|                                          | |  QFX  | |                              |
#|                oce0: 198.18.0.10/24      |=|   <   |=| vcxl0: 198.18.0.108/24       |
#|                      2001:2::10/64       | |       | |        2001:2::108/64        |
#|                      (e8:39:35:c4:0f:c8) | |       | |        (00:07:43:2e:e5:92)   |
#|                                          | |       | |                              |
#|                oce1: 198.19.0.10/24      |=|   >   |=| vcxl1: 198.19.0.108/24       |
#|                     2001:2:0:8000::10/64 | |       | |        2001:2:0:8000::108/64 |
#|                      (e8:39:35:c4:0f:cc) | +-------+ |        (00:07:43:2e:e5:9a)   |
#|                                          |           |                              |
#|            static routes                 |           |                              |
#| 192.18.0.0/16      => 198.18.0.108       |           |                              |
#| 192.19.0.0/16      => 198.19.0.108       |           |                              |
#| 2001:2::/49        => 2001:2::108        |           |                              |
#| 2001:2:0:8000::/49 => 2001:2:0:8000::108 |           |                              |
#|                                          |           |                              |
#|        static arp and ndp                |           | /boot/loader.conf:           |
#| 198.18.0.108        => 00:07:43:2e:e5:92 |           |      hw.cxgbe.num_vis=2      |
#| 2001:2::108                              |           |                              |
#|                                          |           |                              |
#| 198.19.0.108        => 00:07:43:2e:e5:9a |           |                              |
#| 2001:2:0:8000::108                       |           |                              |
#+------------------------------------------+           +------------------------------+
#
# Admin network IP
SENDER_ADMIN="192.168.1.8"
RECEIVER_ADMIN="192.168.1.8"
DUT_ADMIN="192.168.1.10"
REF_ADMIN=""

# LAB network IP and data
SENDER_LAB_IP="198.18.0.108"
RECEIVER_LAB_IP="198.19.0.108"

#netmap pkt-gen need these information:
SENDER_LAB_IF="vcxl0"
RECEIVER_LAB_IF="vcxl1"
DUT_LAB_IF_MAC_SENDER_SIDE="e8:39:35:c4:0f:c8"
PKTGEN_IF_MAC_SENDER="00:07:43:2e:e5:92"
# source/dest IP and port can be modified
# Number of packet or packet size too
# Used for testing different value of flows as examples
: ${AF:="4"}
: ${SENDER_LAB_NET:="198.18.10.1:2001-198.18.10.20"}
: ${RECEIVER_LAB_NET:="198.19.10.1:2001-198.19.10.100"}
: ${PKT_TO_SEND:="1000000000"}
# Netmap pkt size didn't include CRC (4 Bytes)
# RFC2544 ask to try with:
# 64, 128, 256, 512, 1024, 1280, 1518
# This mean for netmap pktgen:
# 60, 124, 252, 508, 1020, 1276, 1514
: ${PKT_SIZE:="60"}

# PMC event to collect
: ${PMC_EVENT:="CPU_CLK_UNHALTED_CORE"}

#Timeout: Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=120

#Is DUT online: Test command
IS_DUT_ONLINE_TARGET=${DUT_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP}"

#Bench commands
RECEIVER_START_CMD="pkt-gen -N -f rx -i ${RECEIVER_LAB_IF} -w 4"
RECEIVER_STOP_CMD="pkill pkt-gen"
SENDER_START_CMD="pkt-gen -N -f tx -w 4 -i ${SENDER_LAB_IF} -n ${PKT_TO_SEND} \
-l ${PKT_SIZE} -${AF} -T 2000 -p 2 \
-S ${PKTGEN_IF_MAC_SENDER} -s ${SENDER_LAB_NET} \
-D ${DUT_LAB_IF_MAC_SENDER_SIDE} -d ${RECEIVER_LAB_NET}"
