#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
# -------------------admin network: 192.168.100.0/24 (ssh)---------------------
#            | .43                            |.44                            | .4
#+---------------------+   +-------------------------------------+    +----------------------------------------+
#|  PC Engines APU2    |   |            PC Engines APU2          |    |       Supermicro SYS-5018A-FTN4        |
#|       (apu23)       |   |               (apu24)               |    |            (sm)                        |
#|   Packet generator  |   |           Device under Test         |    |          IPSec endpoint                |
#|     and receiver    |   |                                     |    |            (QAT, AES-NI)               |
#|                     |   |                                     |    |                                        |
#|igb1: 198.18.0.243/24|=>=| igb1: 198.18.0.244/24               |    |                                        |
#|       2001:2::243/64|   | 2001:2::244/64                      |    |                                        |
#|    00:0d:b9:45:7a:d5|   | 00:0d:b9:45:79:e5                   |    |                                        |
#|                     |   |                                     |    |                                        |
#|                     |   |               igb2: 198.18.1.244/24 |==>=| igb2: 198.18.1.204/24                  |
#|                     |   |                  2001:2:0:1::244/64 |    |    2001:2:0:1::204/64                  |
#|                     |   |                   00:0d:b9:45:79:e6 |    |     0c:c4:7a:ab:29:36                  |
#|                     |   |                                     |    |                                        |
#|                     |   |               vpn:  198.18.2.244/24 |....| vpn:  198.18.2.204/24                  |
#|                     |   |                  2001:2:0:2::244/64 |    |    2001:2:0:2::204/64                  |
#|                     |   |                                     |    |                                        |
#|                     |   |              static routes          |    |             static routes              |
#|                     |   |     198.19.0.0/16 => 198.18.2.204   |    |     198.19.0.0/16 => 198.19.0.243      |
#|                     |   |     198.18.0.0/16 => 198.18.0.243   |    |     198.18.0.0/16 => 198.18.2.244      |
#|                     |   |       2001:2::/49 => 2001:2::243    |    |       2001:2::/49 => 2001:2:0:2::244   |
#|                     |   |2001:2:0:8000::/49 => 2001:2:0:2::204|    | 2001:2:0:8000::/49=>2001:2:0:8000::243 |
#|                     |   |                                     |    |                                        |
#|igb2: 198.19.0.243/24|   |                                     |    |         igb1: 198.19.0.204/24          |
#|2001:2:0:8000::243/64|   |                                     |    |         2001:2:0:8000::204/64          |
#|    00:0d:b9:45:7a:d6|   |                                     |    |          0c:c4:7a:ab:29:35             |
#+---------------------+   +-------------------------------------+    +----------------------------------------+
#          /\                                                                           \/
#	 ==================<=================<===============<=============================
#
# Admin network IP
SENDER_ADMIN="192.168.100.43"
RECEIVER_ADMIN=${SENDER_ADMIN}
DUT_ADMIN="192.168.100.44"
REF_ADMIN="192.168.100.4"

# LAB network IP and data
SENDER_LAB_IP="198.18.0.243"
RECEIVER_LAB_IP="198.18.1.204"

#netmap pkt-gen need these information:
SENDER_LAB_IF="igb1"
SENDER_MAC="00:0d:b9:45:7a:d5"
RECEIVER_LAB_IF="igb2"
DUT_LAB_IF_MAC_SENDER_SIDE="00:0d:b9:45:79:e5"

: ${AF:="4"}

#PMC event
: ${PMC_EVENT:="cpu_clk_unhalted.core_p"}

#Timeout : Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=50

# Is DUT online: Test command
# Because ref endpoint will be rebooted first, this command must test
# if ref-endpoint is reacheable from DUT
IS_DUT_ONLINE_TARGET=${DUT_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP} && ping -c 2 ${SENDER_LAB_IP}"

#Bench commands
RECEIVER_START_CMD=""
RECEIVER_STOP_CMD=""
SENDER_START_CMD="equilibrium -${AF} -u -d ${DUT_LAB_IF_MAC_SENDER_SIDE} -t ${SENDER_LAB_IF} -r ${RECEIVER_LAB_IF}"
