#{{ ansible_managed }}
static_routes="receiver generator"
route_generator="-net 192.18.0.0/16 {{ hostvars[forwarding_tx_host]['if_tx_inet'] }}"
route_receiver="-net 198.19.0.0/16 {{ hostvars[forwarding_rx_host]['if_rx_inet'] }}"
ipv6_static_routes="generator receiver"
ipv6_route_generator="2001:2:: -prefixlen 49 {{ hostvars[forwarding_tx_host]['if_tx_inet6'] }}"
ipv6_route_receiver="2001:2:0:8000:: -prefixlen 49 {{ hostvars[forwarding_rx_host]['if_rx_inet6'] }}"
