#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
# WARNING: VPN setup, endup to using only ONE core
# So the DUT is a 8 core Intel(R) Xeon(R) CPU E5-2650 v2 @ 2.60GHz (2593.81-MHz K8-class CPU)
# and the reference endpoint a 2 x 12 core Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz (2200.05-MHz K8-class CPU)
# Tunnel problem: By encapsulating, all traffic is using one NIC queue (ie one IRQ on one core) on both endpoint,
# which mean that with one core at 2.60GHz, the DUT will overide the core at endpoint's 2.2GHZ core.
# So the tunnel endpoint will be the bottleneck here, and not the DUT: Need to ignore receiver and tunnel endpoint stats
# Proposed solution: Use DUT TX counters

#           ---------admin network: 192.168.1.0/24 (ssh)--------------------
#            | .8                            |.10                           | .2
#+------------------------+   +-----------------------------------+   +------------------------------------+
#|          sm1           |   |                 HP                |   |                R630                |
#|   Packet generator     |   |           Device under Test       |   |           Tunnel endpoint          |
#|      and receiver      |   |                                   |   |              (AES-NI)              |
#|                        |   |                                   |   |                                    |
#|vcxl0: 198.18.0.8/24    |=>=| cxl0: 198.18.0.10/24              |   |                                    |
#|       2001:2::8/64     |   | 2001:2::10/64                     |   |                                    |
#|  00:07:43:2e:e5:91     |   | 00:07:43:2e:e4:70                 |   |                                    |
#|                        |   |                                   |   |                                    |
#|                        |   |              cxl1: 198.18.1.10/24 |=>=| cxl0: 198.18.1.2/24                |
#|                        |   |                 2001:2:0:1::10/64 |   |    2001:2:0:1::2/64                |
#|                        |   |                 00:07:43:2e:e4:78 |   |     00:07:43:2f:fe:b0              |
#|                        |   |                                   |   |                                    |
#|                        |   |              static routes        |   |            static routes           |
#|                        |   |     198.19.0.0/16 => 198.18.1.2   |   |    198.19.0.0/16 => 198.19.0.8     |
#|                        |   |     198.18.0.0/16 => 198.18.0.8   |   |    198.18.0.0/16 => 198.18.1.10    |
#|                        |   |       2001:2::/49 => 2001:2::8    |   |      2001:2::/49 => 2001:2:0:1::208|
#|                        |   |2001:2:0:8000::/49 => 2001:2:0:1::2|   |2001:2:0:8000::/49=>2001:2:0:8000::2|
#|                        |   |                                   |   |                                    |
#| vcxl1: 198.19.0.8/24   |   |                                   |   |        cxl1: 198.19.0.2/24         |
#| 2001:2:0:8000::8/64    |   |                                   |   |        2001:2:0:8000::2/64         |
#| 00:07:43:2e:e5:99      |   |                                   |   |         00:07:43:2f:fe:b8          |
#| hw.cxgbe.num_vis=2     |   |                                   |   |                                    |
#| hw.cxgbe.nnmrxq_vi="4" |   |                                   |   |                                    |
#| hw.cxgbe.nnmtxq_vi="4" |   |                                   |   |                                    |
#| hw.cxgbe.nm_txcsum="1" |   |                                   |   |                                    |
#+------------------------+   +-----------------------------------+   +------------------------------------+
#          /\                                                                          ||
#	      ===============================<<<===============================================
# Admin network IP
SENDER_ADMIN="192.168.1.8"
RECEIVER_ADMIN=${SENDER_ADMIN}
DUT_ADMIN="192.168.1.10"
REF_ADMIN="192.168.1.2"

# LAB network IP and data
SENDER_LAB_IP="198.18.0.8"
RECEIVER_LAB_IP="198.18.1.2"

#netmap pkt-gen need these information:
SENDER_LAB_IF="vcxl0"
SENDER_MAC="00:07:43:2e:e5:91"
RECEIVER_LAB_IF="vcxl1"
DUT_LAB_IF_MAC_SENDER_SIDE="00:07:43:2e:e4:70"
: ${AF:="4"}

# PMC event to collect
: ${PMC_EVENT:="cpu_clk_unhalted.thread"}

#Timeout : Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=120

# Is DUT online: Test command
# Because ref endpoint will be rebooted first, this command must test
# if ref-endpoint is reacheable from DUT
IS_DUT_ONLINE_TARGET=${DUT_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP} && ping -c 2 ${SENDER_LAB_IP}"

#Bench commands
RECEIVER_START_CMD=""
RECEIVER_STOP_CMD=""
#SENDER_START_CMD="equilibrium -${AF} -d ${DUT_LAB_IF_MAC_SENDER_SIDE} -t ${SENDER_LAB_IF} -r ${RECEIVER_LAB_IF} -l 10000"
SENDER_START_CMD="equilibrium-noref -${AF} -d ${DUT_LAB_IF_MAC_SENDER_SIDE} -t ${SENDER_LAB_IF} -l 10000 -D root@${DUT_ADMIN} -R dev.cxl.0.stats.rx_frames -T dev.cxl.1.stats.tx_frames"
