#!/bin/sh
fwcmd="/sbin/ipfw"
# Flush out the list before we begin.
${fwcmd} -f flush
${fwcmd} table 1 create type addr
${fwcmd} table 1 add 1.1.1.0/24
${fwcmd} table 1 add 1.1.2.0/24
${fwcmd} table 1 add 1.1.3.0/24
${fwcmd} table 1 add 1.1.4.0/24
${fwcmd} table 1 add 1.1.5.0/24
${fwcmd} table 1 add 1.1.6.0/24
${fwcmd} table 1 add 1.1.7.0/24
${fwcmd} table 1 add 1.1.8.0/24
${fwcmd} table 1 add 1.1.9.0/24
${fwcmd} add deny ip from table\(1\) to any
${fwcmd} add allow ip from any to any
