#{{ ansible_managed }}
static_arp_pairs="receiver generator"
static_arp_generator="{{ hostvars[forwarding_tx_host]['if_tx_inet'] }} {{ hostvars[forwarding_tx_host]['ansible_facts'][forwarding_tx_host_if]['macaddress'] }}"
static_arp_receiver="{{ hostvars[forwarding_rx_host]['if_rx_inet'] }} {{ hostvars[forwarding_rx_host]['ansible_facts'][forwarding_rx_host_if]['macaddress'] }}"
static_ndp_pairs="receiver generator"
static_ndp_generator="{{ hostvars[forwarding_tx_host]['if_tx_inet6'] }} {{ hostvars[forwarding_tx_host]['ansible_facts'][forwarding_tx_host_if]['macaddress'] }}"
static_ndp_receiver="{{ hostvars[forwarding_rx_host]['if_rx_inet6'] }} {{ hostvars[forwarding_rx_host]['ansible_facts'][forwarding_rx_host_if]['macaddress'] }}"
