#!/bin/sh
# Configuration example for forwarding/routing performance with netmap pkt-gen:
#
#            ------admin network: 192.168.1.0/24 (ssh)----------
#              | .1                                         | .10
#+------------------------------------+ +-------+ +-------------------------------------+
#|   Packet generator and receiver    | |Juniper| |        Device under Test            |
#|                                    | |  QFX  | |                                     |
#| ix0: 198.18.0.1 (90:e2:ba:84:20:38)|-|   >   |-|cxl0: 198.18.0.10 (00:07:43:2e:e4:70)|
#|                                    | |       | |                                     |
#| ix1: 198.19.0.1 (90:e2:ba:84:20:39)|-|   <   |-|cxl1: 198.19.0.10 (00:07:43:2e:e4:78)|
#|                                    | +-------+ |                                     |
#|                                    |           |           static routes             |
#|                                    |           |    198.18.0.0/16 => 198.18.0.1      |
#|                                    |           |    198.19.0.0/16 => 198.19.0.1      |
#+------------------------------------+           +-------------------------------------+
#
# Admin network IP
SENDER_ADMIN="192.168.1.1"
RECEIVER_ADMIN="192.168.1.1"
DUT_ADMIN="192.168.1.10"
REF_ADMIN=""

# LAB network IP and data
SENDER_LAB_IP="198.18.0.1"
RECEIVER_LAB_IP="198.19.0.1"

#netmap pkt-gen need these information:
SENDER_LAB_IF="ix0"
SENDER_LAB_IF_MAC="90:e2:ba:84:20:38"
RECEIVER_LAB_IF="ix1"
RECEIVER_LAB_IF_MAC="90:e2:ba:84:20:39"
DUT_LAB_IF_MAC_SENDER_SIDE="00:07:43:2e:e4:70"
DUT_LAB_IF_MAC_RECEIVER_SIDE="00:07:43:2e:e4:78"
#Generate about 2000 flows (20*100)
SENDER_LAB_NET="198.18.10.1:2000-198.18.10.20"
RECEIVER_LAB_NET="198.19.10.1:2000-198.19.10.10"
PKT_TO_SEND="1000000000"

#Timeout: Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=120

#Is DUT online: Test command
IS_DUT_ONLINE_TARGET=${DUT_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP}"

#Bench commands
RECEIVER_START_CMD="pkt-gen -N -f rx -i ${RECEIVER_LAB_IF} -w 4"
RECEIVER_STOP_CMD="pkill pkt-gen"
SENDER_START_CMD="pkt-gen -f tx -i ${SENDER_LAB_IF} -n ${PKT_TO_SEND} -l 60 \
-d ${RECEIVER_LAB_NET} -D ${DUT_LAB_IF_MAC_SENDER_SIDE}\
-S ${SENDER_LAB_IF_MAC} -s ${SENDER_LAB_NET} \
-w 4 -N"
